@tailwind base;
@tailwind components;
@tailwind utilities;

.input-group {
    display: flex;
    align-items: center;
  }
  
  .custom-input,
  .custom-button {
    height: 50px; 
    flex: 1; 
  }
  
  .custom-button {
    padding: 0 20px;
    transition: none;
    border: 2px solid transparent;
  }
  
  .custom-button:focus,
  .custom-button:active {
    outline: none; 
    box-shadow: none; 
  }
  
  .input-group-text {
    padding: 0 15px;
  }
  